form{
    font-size: 20px;
    text-align: left;
}

h2{
    text-align: start;
}

form div input{
    border-radius: 5px;
    height: 25px;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 5px;
}
