.appGrid{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box{
    margin-top: 50px;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: #b1c4f8;
    color: #4C29F4;
    cursor: pointer;
}

.box:hover {
    opacity: 85%;
}

.box > h3{
    position: relative;
    top: 30%;
}

h1{
    margin-top: 0px;
    padding-top: 50px;
}

*{
    color: #4C29F4;
}